#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 3px;
	font-size: 1.2em;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }

.tooltip_hide {
	display: none;	
}

.tooltip_abbr {
	cursor: help;
	border-bottom: 1px dashed green;	
}